#root {
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sidebar {
  background-color: #7B7B7B;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
  max-width: 350px;
  font-size: 13px;
}

.content {
  background-color: #B2B2B2;
  display: flex;
  flex-direction: column;
  flex: 3;
  min-width: 500px;
  font-size: 13px;
}